[Desktop Entry]
Name=Smart Data Framework
Comment=Smart Associates SDF and DB utilities
Exec=/app/launch_flatpak.sh
Icon=open.sdf
Terminal=true
Type=Application
Categories=X-Programming,X-ETL,X-Databases;
